:root{
    --primer-color: #ffffff;
    --segundo-color: #090909;
    --tercer-color: #6a6a6a;
    --cuarto-color: #ffd900;
    --quinto-color: #23518d;
}
html *{
font-family: "Roboto Condensed", sans-serif;
    font-weight: 400

}

body{
background-color: var(--primer-color);
margin: 0px;
padding: 0;
}

.router_container{
    padding: 2rem;
}
.cards__card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    margin: auto;
    margin-top: 2rem;
}

@media (max-width: 1700px){
    .cards__card{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1500px){
    .cards__card{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 900px){
    .cards__card{
        grid-template-columns: repeat(1, 1fr);
    }
}

